[submodule "libs/PyRep"]
	path = rvt/libs/PyRep
	url = https://github.com/stepjam/PyRep.git
[submodule "libs/RLBench"]
	path = rvt/libs/RLBench
	url = https://github.com/buttomnutstoast/RLBench.git
[submodule "libs/YARR"]
	path = rvt/libs/YARR
        url = https://github.com/NVlabs/YARR.git
[submodule "libs/peract"]
	path = rvt/libs/peract
        url = https://github.com/NVlabs/peract.git
